/*第一部分*/
.box{
    display: flex;
    justify-content: center;
    width: 100%;
    
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    z-index: 0;
   

}
.itemc{width: 100%;height: 80%;
   
}
.item1{
    text-align: center;
    padding: 10px;
    height: 10px;}
    .imga{
        width: 100%;
        height: auto;
        z-index: 1111;
        position: absolute;
  top: -100px;
  left: 10px;
    }
    .imgb{
        width: 100%;
        height: auto;
        z-index: 0000;
        position: relative;
        top: 0;
        left: 0;
    }

/* 第二部分  */
.box2{
    display: flex;
    justify-content: center;
    width:100%;
    height: 600px;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.itema{
    width: 1000px;height: 300px;
}
.item2{
    background-color: red;

}

/*第三部分*/
.container{

max-width: 1920px;
height: 500px;
border: 1px solid black;

}

.box3{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    align-content: space-between;
    align-items: center;
    flex-wrap: center;
}
.itemb{
    width: 350px;height: 400px;
}

/*第四部分*/
.container{
    width: 80%;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .item{
    width: 10%;
    padding: 15px;
  }
  .item-inner{
    border: 2px solid #000;
    text-align: center;
    padding: 20px;
    height: 250px;
  }